{{ 'menu-section.css' | asset_url | stylesheet_tag }}



<div class="menu-section">
    <div class="menu-section-inner">
    {% for block in section.blocks %}
        {% if block.type == 'menu_heading' %}
            <h2 class="menu-heading">{{ block.settings.heading_text }}</h2>
        {% elsif block.type == 'menu_link' %}
            <a href="{{ block.settings.link_url }}" class="menu-link">{{ block.settings.link_text }}</a>
        {% endif %}
    {% endfor %}
</div>
</div>


{% schema %}
{
    "name": "t:sections.menu.name",
    "settings": [],
    "blocks": [
      {
        "type": "menu_heading",
        "name": "t:sections.menu.blocks.menu_heading.name",
        "settings": [
          {
            "type": "text",
            "id": "heading_text",
            "label": "t:sections.menu.blocks.menu_heading.settings.heading_text.label"
          }
        ]
      },
      {
        "type": "menu_link",
        "name": "t:sections.menu.blocks.menu_link.name",
        "settings": [
          {
            "type": "text",
            "id": "link_text",
            "label": "t:sections.menu.blocks.menu_link.settings.link_text.label"
          },
          {
            "type": "url",
            "id": "link_url",
            "label": "t:sections.menu.blocks.menu_link.settings.link_url.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.menu.presets.default.name",
        "category": "Menu",
        "blocks": [
          {
            "type": "menu_heading"
          },
          {
            "type": "menu_link"
          }
        ]
      }
    ]
  }
  
  
{% endschema %}
