.custom-information-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.custom-information-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-information-section h2, p {
    color: #ffffff;
}

.custom-heading{
    font-size: 4rem;
    font-weight: 600;
    width: 50vw;
    text-transform: uppercase;
    text-align: center;
}

.custom-paragraph{
    width: 60vw;
}

.custom-logo{
    width: 3%;
}

