.custom-information-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    padding:5% 0;
}
.custom-information-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
}

.custom-information-section h2, p {
    color: #ffffff;
    margin: 0;
}

.custom-heading{
    font-size: 4rem;
    font-weight: 600;
    width: 50vw;
    text-transform: uppercase;
    text-align: center;
}

.custom-paragraph{
    width: 60vw;
}

.custom-logo{
    width: 3%;
}

@media (max-width: 768px) {
    .custom-information-inner{
        width: 90dvw;
        row-gap: 2rem;
        text-align: justify;
    }
    .custom-heading{
        font-size: 3rem;
        font-weight: 600;
        width: auto;
    }
}