.menu-section{
    display: flex;
    justify-content: space-between;
    margin: 4%;
    flex-wrap: wrap;
}

.menu-section-inner{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.menu-section h2{
    font-size: 2rem;
    font-weight: 600;
}
.menu-link{
    text-decoration: none;
    color: #000;
}
.menu-link:hover{
    text-decoration: underline;
}

@media (max-width: 768px) {
    
    .menu-section-inner{
        flex:50%;
    }
    .menu-section{
        row-gap: 3rem;
    }
}