.popularMain{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin:4%;
}

.popularInner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}
.popularMain h2{
    font-size:3.5rem;
    font-weight:600;
}
.popularItem h1{
    font-weight: 600;
    font-size: 4.5rem;
    margin-bottom: 1rem;
}
.popularItem hr{
    margin:0;
    background-color: #000;
}
.popularItem{
    width:28vw;
    border-bottom:8px solid transparent;
}
.popularItem:hover{
    border-bottom:8px solid #000;
    cursor:pointer;
}